.course-detail {
    text-align: center;
    img {
      max-width: 100%;
      border-radius: 5px;
    }
    button {
      margin-bottom: 15px;
      padding: 10px;
      border: none;
      background: #1a1a3d;
      color: white;
      cursor: pointer;
    }
  }