header {
    background-image:url(../../img/Rectangle\ 2.png);
    background-size: cover;
    height: 80px;
    padding: 0.5px;
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      ul {
        list-style: none;
        display: flex;
        gap: 15px;
      }
      input {
        float: left;
        width: 250px;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 14px;
        color: white;
      }

      li {
         color: white;
      }
    }
  }